<div class="wrapper">
    <div>
        <h2 class="header">Founders of GBX Soft</h2>
        <h4 class="hashtagText">#We will find you a perfect solution</h4>
    </div>
</div>
<section class="toz">
    <div class="row mr-auto">
        <div class="cola col-md-6">
            <img src="assets/tony.PNG" class="one">
            <h5>Tony Milad</h5>
            <h4>CEO/SCRUM Master</h4>
            <a class="aabu" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i>linkedin</a>
            <a href="#" class="abu">
                <button>
                    <img src="assets/ar.PNG">Read More
                </button>
            </a>
        </div>
        <div class="imgcol col-md-6 d-grid">
            <img src="assets/mina.png" class="one">
            <h5>Timon Bomba</h5>
            <h4>CTO/Full Stack Developer</h4>
            <a class="aabu" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i>linkedin</a>
            <div class="mar">
                <button>
                    <img src="assets/ar.PNG">Read More
                </button>
            </div>
        </div>
    </div>
</section>