<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
    <a href="#" class="navbar-brand">
        <img src="assets/res.png" class="img-fluid image_logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a 
                style="cursor: pointer;" 
                class="nav-link text-center"
                href="#">How we work</a>
            </li>
            <li class="nav-item">
                <a 
                style="cursor: pointer;" 
                class="nav-link text-center"
                href="#">Portfolio</a>
            </li>
            <li class="nav-item">
                <a 
                style="cursor: pointer;" 
                class="nav-link text-center"
                href="#">Services</a>
            </li>
            <li class="nav-item">
                <a 
                style="cursor: pointer;" 
                class="nav-link text-center"
                href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a 
                style="cursor: pointer;" 
                class="nav-link text-center"
                routerLink="/career">Career</a>
            </li>
            <li class="nav-item">
                <a 
                style="cursor: pointer;" 
                class="nav-link text-center"
                routerLink="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-secondary" href="#">Free estimate</button>
            </li>
            <li class="nav-item" style="margin-top: 7px;">
                <a href="#">AR</a>
            </li>
            <li style="margin-top: 7px;">|</li>
            <li class="nav-item" style="margin-top: 7px;">
                <a href="#">EN</a>
            </li>
        </ul>    
    </div>
</nav>