<footer class="text-white toz">
    <div class="py-3">
        <div class="row d-flex justify-content-around">
            <div class="col-lg-2 pb-2">
                <ul>
                    <li><img src="assets/res.svg"></li><br>
                    <li>
                        <p>
                            Graphicbox Sp. z o. o. <br> ul. Lwowska 6/201 <br> 35-301 Rzeszów
                        </p>
                        <p>
                            NIP: PL517 038 43 21 <br> KRS: 0000699649 <br> REGON: 368374675
                        </p>
                        <a href="#">tel. +48 603 335 731</a> <br>
                        <a href="#">@: office@gbxsoft.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-6 pb-2">
                <h4>SERVICES</h4>
                <ul>
                    <li><a href="#">Mobile application</a></li>
                    <li><a href="#">Web application</a></li>
                    <li><a href="#">UX / UI</a></li>
                    <li><a href="#">Big Data</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-6 pb-2">
                <h4>ABOUT <br> COMPANY</h4>
                <ul>
                    <li><a routerLink="/work">How we work</a></li>
                    <li><a routerLink="/services">Services</a></li>
                    <li><a routerLink="/portfolio">Portfolio</a></li>
                    <li><a routerLink="/team">Team</a></li>
                    <li><a routerLink="/blog">Blog</a></li>
                    <li><a routerLink="/contact">Free estimate</a></li>
                    <li><a routerLink="/career">Career</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-6 pb-2">
                <h4>PORTFOLIO</h4>
                <ul>
                    <li><a href="#">Building <br> Companion</a></li>
                    <li><a href="#">Super Smart <br> Rental</a></li>
                    <li><a href="#">PogromcyUpalu.pl</a></li>
                    <li><a href="#">PaySteer</a></li>
                    <li><a href="#">Baerwolf</a></li>
                    <li><a href="#">RS info</a></li>
                    <li><a href="#">biuro Na Miarę</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-6">
                <ul id="one">
                    <a href="https://www.facebook.com/login.php"><i class="fab fa-behance"></i></a>
                    <a href="https://mobile.twitter.com/login"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.instagram.com/accounts/login/"><i class="fab fa-facebook-f"></i></a>
                </ul>
            </div>
        </div>
    </div>
    <div id="two" class="container-fluid text-left  pb-2 pt-2">
        <p>Copyright Graphicbox Sp. z o. o. All rights reserved</p>
        <a href="#">Privacy policy</a>
        <a href="#">Confidentiality</a>
    </div>
</footer>