<section id="stwo">
    <div class="header">
        <h2>Our Customers</h2>
        <h3 class="hashtagText">#We think just like our customers</h3>
    </div>
    <div class="ourCustomersImagesContainer">
        <img src="assets/ci1.PNG" alt="" class="lazy-load">
        <img src="assets/ci2.PNG" alt="" class="lazy-load">
        <img src="assets/ci3.PNG" alt="" class="lazy-load">
        <img src="assets/ci4.PNG" alt="" class="lazy-load">
        <img src="assets/ci5.PNG" alt="" class="lazy-load">
    </div>
</section>