<section class="fadeIn" id="one" loaderstatus="true">
    <div class="wrapper">
        <div class="content">
            <div class="contactContainer">
                <section id="two">
                    <div class="content lightForm">
                        <div class="wrapper">
                            <h1>Contact</h1>
                            <h5>See what we'll create from your idea</h5>
                        </div>
                        <form autocomplete="off">
                            <div style="display: flex;">
                                <div class="col">
                                    <label for="name">Your Name and Surname*</label>
                                    <input type="text" id="name" autocomplete="off"
                                        placeholder="Type your name and surname" class="success">
                                </div>
                                <div class="col">
                                    <label for="email">E-mail*</label>
                                    <input type="text" id="email" autocomplete="off" class="success"
                                        placeholder="Type your e-mail">
                                </div>
                            </div>
                            <div class="wrapper" style="display: flex;">
                                <div class="wrapper__topic">
                                    <label>Topic</label>
                                    <div class="dropdown">
                                        <a class="success btn btn-secondary dropdown-toggle"
                                            style="width: 330px; margin-top: 10px;" href="#" role="button"
                                            id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Inne
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <ul style="list-style: none;">
                                                <li class="dropdown-item">UX/UI & Product Design</li>
                                                <li class="dropdown-item">Web application</li>
                                                <li class="dropdown-item">Mobile application</li>
                                                <li class="dropdown-item">Other</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapper__phone">
                                    <label for="phone">Your phone number</label>
                                    <input type="number" placeholder="Your phone number" id="phone" class="success">
                                </div>
                            </div>
                            <div class="message">
                                <label for="message">Message*</label>
                                <input type="text" autocomplete="off" id="message" class="success"
                                    placeholder="Type your message">
                            </div>
                            <div class="rules">
                                <div class="checkbox-component">
                                    <input type="checkbox" id="accepted" value>
                                    <label for="accepted">
                                        I authorise GBX Soft, with its registered office at ul. Lwowska 6/201, 35-301
                                        Rzeszów, to process my personal data in order to send marketing contents to my
                                        e-mail address given above in the contact form.
                                        <a href="#" class="decor" target="_blank">Privacy policy</a>
                                    </label>
                                </div>
                            </div>
                            <div class="recaptcha">
                                <div>
                                    <div style="width: 304px; height: 78px; margin: auto;">
                                        <div>
                                            <iframe
                                                src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LevLYYUAAAAAC7chK-jytykf1kh-oiETaoBb_9g&amp;co=aHR0cHM6Ly9nYnhzb2Z0LmNvbTo0NDM.&amp;hl=en-GB&amp;v=jxFQ7RQ9s9HTGKeWcoa6UQdD&amp;size=normal&amp;cb=mu8hi1rlq2u5"
                                                width="304" height="78" role="presentation" name="a-32gsk060lw8m"
                                                frameborder="0" scrolling="no"
                                                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation">
                                            </iframe>
                                        </div>
                                        <iframe style="display: none;">
                                            <html>

                                            <head></head>

                                            <body></body>

                                            </html>
                                        </iframe>
                                    </div>
                                </div>
                                <button id="send_form" style="display: block;"><strong>Send</strong></button>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
        <div class="container-fluid">
            <div class="account">
                <div class="accountImage">
                    <img src="assets/tony.PNG" alt="CEO">
                </div>
                <div class="accountData">
                    <h2>CEO</h2>
                    <span>Tony Milad</span>
                    <a href="tel:+48 603 335 731">
                        <h5>+48 603 335 731</h5>
                    </a>
                    <a href="tonymilad@gmail.com">
                        <h5>tonymilad@gmail.com</h5>
                    </a>
                </div>
            </div>
            <div id="map" class="maps" style="position: relative; overflow: hidden;">
                <img src="assets/map.PNG" alt="location">
            </div>
        </div>
    </div>
</section>