<div class="wrapper">
    <div class="diwi">
        <h2 class="header">Case Studies</h2>
        <h4 class="hashtagText">#Apps which best drive a businees revolution</h4>
    </div>
</div>
<section>
    <div class="row mr-auto">
        <div class="cola col-md-6 pl-0">
            <img class="imsh"src="assets/ps.png" alt="">
            <h4>PaySteer</h4>
            <div class="difl">
                <ul class="one">
                    <li>Mobile:</li>
                    <li>Web:</li>
                    <li>Server:</li>
                </ul>
                <ul class="two">
                    <li>IOS/Android</li>
                    <li>Angular</li>
                    <li>PHP 7.0</li>
                </ul>
            </div>
            <div class="col-md-6 pl-0">
                <p>
                    PaySteer allows a conversation via a chat, video or voice call. The interlocutor is paid for the
                    consultation. The biggest challenge was to keep the connections stable and to provide an appropriate
                    degree of payment security.
                </p>
            
                <a href="#">
                    <button>
                        <img src="assets/ar.PNG">More
                    </button>
                </a>
            </div>
        </div>
        <div class="imgcol col-md-6">
            <img src="assets/py.png" alt="">
        </div>
    </div>
</section>