.imgcol {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 445px;
    padding-right: 5rem;
}

.row {
    display: flex;
    background: #f2f4fd;
    position: relative;
    justify-content: center;
    flex-direction: row-reverse;
    background-color: transparent;
}

.cola {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
}

.imsh {
    margin-top: 10px;
    box-shadow: 0 8px 18px rgb(5 34 154 / 26%);
    border-radius: 12px;
    border-style: none;
}

h4 {
    font-size: 32px;
    margin: 30px 0 18px;
    color: #566088;
    letter-spacing: -.02em;
    line-height: 32px;
    font-weight: 500;
}

ul li {
    font-weight: 500;
}

.one {
    font-size: 16px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding-left: 0px;
}

.two {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0px;
    color: blue;
}

.difl {
    display: flex;
}

p {
    margin: 38px 0 40px;
    font-size: 16px;
    color: #7c87b2;
    letter-spacing: -.01em;
    line-height: 26px;
    font-weight: 400;
    width: 100%;
    padding-left: 0px;
}

.dibu {
    min-width: 101px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

a {
    display: flex;
    align-items: center;
}

button {
    height: 20px;
    position: relative;
    transition: all .1s;
    letter-spacing: .01em;
    outline: none;
    border: none;
    cursor: pointer;
    line-height: 25px;
    text-transform: uppercase;
    font-size: 15px;
    color: #002bdc;
    background: 0 0;
    font-weight: 600;
    font-family: Obj2;
    padding-left: 0px;
    margin-bottom: 20px;
}

a:hover {
    text-decoration: none;
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .row {
        display: grid;
        justify-content: center;
    }
    .cola {
        width: 100%;
        padding-left: 12rem !important;
    }
    .imgcol {
        padding-left: 12rem !important;
    }
}

@media screen and (max-width: 425px) {
    .row {
        display: grid;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .cola {
        width: 100%;
        padding-left: 14rem !important;
    }
    .imgcol {
        padding-left: 8rem;
    }
}