<section>
    <div class="row mr-auto">
        <div class="cola col-md-6 pl-0">
            <h4>InterVi</h4>
            <div class="difl">
                <ul class="one">
                    <li>Web:</li>
                    <li>Server:</li>
                </ul>
                <ul class="two">
                    <li>Vue.js</li>
                    <li>PHP 7.1</li>
                </ul>
            </div>
            <div class="col-md-6 pl-0">
                <p>
                    CRM InterVi is a platform supporting sales, invoice management, customer management, and the
                    management of personnel and their working time. As part of the project, we have developed a web
                    application and an application for Android.
                </p>
                <a href="#">
                    <button>
                        <img src="assets/ar.PNG">More
                    </button>
                </a>
            </div>
        </div>
        <div class="imgcol col-md-6">
            <img src="assets/in.png" alt="">
        </div>
    </div>
</section>