<section>
    <div class="row mr-auto">
        <div class="cola col-lg-8 col-md-6 col-xs-12 pl-0">
            <img class="imsh" src="assets/po.png" alt="">
            <h4>Pogromcyupalu.pl</h4>
            <div class="difl">
                <ul class="one">
                    <li>Mobile:</li>
                    <li>Web:</li>
                    <li>Desktop:</li>
                    <li>Server:</li>
                </ul>
                <ul class="two">
                    <li>Unity</li>
                    <li>Unity</li>
                    <li>Unity</li>
                    <li>PHP 7.0</li>
                </ul>
            </div>
            <div class="etfo col-xl-6 col-lg-9 col-md-12 pl-0">
                <p>
                    Together with us, the Koral brand has given its customers a game for mobile devices. An element of a wider advertising campaign for the brand, the game made the campaign more interactive and enhanced its reach, as the game’s availability guaranteed a
                    large number of players.
                </p>
                <a href="#">
                    <button>
                        <img src="assets/ar2.png">More
                    </button>
                </a>
            </div>
        </div>
        <div class="imgcol  col-lg-4 col-md-12">
            <img src="assets/ko.svg" alt="">
        </div>
    </div>
</section>