<section class="fadeIn">
    <section id="sec">
        <div class="carrerContainer">
            <h1>Career</h1>
            <p>Do you have knowledge, experience, and a willingness to work, or are you just looking for a company that
                will allow you to pursue ambitious projects and learn something completelynew? So If yes, then you're in
                the right place! We are constantly developing, so check out what we can offer you.</p>
        </div>
        <div class="container displayImgNone">
            <div data-aos="fade-right" data-aos-duration="300" class="wrapper aos-init aos-animate">
                <div class="lottieScrum">
                    <img src="assets/cc.PNG">
                    <h2>A tight-knit team</h2>
                    <p>Your qualifications, skills and personality will perfectly fit into our team in which everyone
                        isan individual but works for mutual success.</p>
                </div>
            </div>
            <div data-aos="fade-right" data-aos-duration="300" class="wrapper aos-init aos-animate">
                <div class="lottieScrum">
                    <img src="assets/ccc.PNG">
                    <h2>Prestigious projects</h2>
                    <p>We are not afraid of challenges, because we know that from each new challenge we can develop
                        further. We create innovative business projects not only for Polish clients, but alsofor clients
                        from all over the world, therefore you will have many opportunities to further develop your
                        skillset.</p>
                </div>
            </div>
            <div data-aos="fade-right" data-aos-duration="300" class="wrapper aos-init aos-animate">
                <div class="lottieScrum">
                    <img src="assets/cccc.PNG">
                    <h2>Something more than a job</h2>
                    <p>At GBX Soft our employees are our most valuable capital. Therefore, we provide them
                        withconditions for personal development and regeneration.</p>
                </div>
            </div>
        </div>
        <div class="container" id="con">
            <div class="wsizInfo">
                <div class="wsizLogo">
                    <img src="assets/res.png">
                </div>
                <div class="description">
                    <p>We reward their work and encourage further success by providing additional gratuities.
                        Wecooperate with the University of Information Technology and Management in Rzeszów. If you want
                        to start your adventure in IT, join us!</p>
                </div>
            </div>
        </div>
    </section>
</section>