.content-container{
    padding-top: 15rem;
    background: rgb(242, 244, 253);
    position: relative;
}

.header {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -.01em;
    margin: 0;
    color: #131313;
    line-height: 60px;
}

.hashtagText {
    font-size: 13px !important;
    color: #002bdc !important;
    letter-spacing: .02em !important;
    line-height: 22px !important;
    font-weight: 900 !important;
}

.diwi {
    padding: 0 0 70px 450px;
    background: #f2f4fd;
}

.swiper-slide {
    box-shadow: rgb(0 43 220 / 10%) 0px 14px 25px 0px;
    background: rgb(255, 255, 255);
    margin: 80px 0px 142px;
    border-radius: 20px;
    width: 80%;
    min-height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

  
}
img {
    height: 120px;
    width: 120px;
    top: 0px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 20;
    filter: grayscale(100%);
    border-radius: 50%;
}

h5 {
    text-align: center;
    font-weight: 700;
    color: rgb(124, 135, 178);
    font-size:x-large;
    margin-top: 100px;
}

h3{
    text-align: center;
    color: blue;
    font-size: large;
    padding-bottom: 4rem;
}

p{
    font-size: 20px;
    color: #7c87b2;
    letter-spacing: -.01em;
    font-weight: 400;
    margin: 0px 100px 80px;
    width: 80%;
}

.swiper-slide {
     overflow:visible !important;
     position: relative;
}

::ng-deep .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 27rem !important;
    left: auto;
}

::ng-deep .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 27rem !important;
    right: auto;
}

::ng-deep .swiper-container.swiper-container-horizontal .swiper-button-prev{
    background: url(/assets/Arrow_left.svg) no-repeat 100%;
    opacity: .25;
    width: 35px;
    height: 35px;
    top: 50%;
    left: 21.5%;
    outline: none;
    transition: .2s ease-out;
    transform: translateX(0);
}

::ng-deep .swiper-container.swiper-container-horizontal .swiper-button-next{
    background: url(/assets/Arrow_right.svg) no-repeat 100%;
    opacity: .25;
    width: 35px;
    height: 35px;
    right: 20.5%;
    top: 50%;
    outline: none;
    transition: .2s ease-out;
    transform: translateX(-50%);
}

::ng-deep .swiper-button-prev:hover {
    opacity: 1 !important;
}

::ng-deep .swiper-button-next:hover {
    opacity: 1 !important;
}

.content-container:before {
    content: "";
    position: absolute;
    border-radius: 3px;
    background: #f2f4fd;
    z-index: 2;
    bottom: 40px;
    left: -20px;
    width: 19%;
    height: 75%;
    filter: blur(10px);
}

.content-container:after {
    content: "";
    position: absolute;
    border-radius: 3px;
    background: #f2f4fd;
    z-index: 2;
    top: 110px;
    right: 0px;
    width: 18%;
    height: 80%;
    filter: blur(15px);
}

.swiper-slide:after {
    content: "";
    position: absolute;
    height: 89px;
    width: 120px;
    background: url(/assets/images/Speach.svg) no-repeat;
    background-size: 100px 100px;
    top: 130px;
    left: 45px;
}