<div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
    <div class="diwi">
        <h2 class="header">Here is what our Customers say about us</h2>
        <h4 class="hashtagText">#Listen to those who know us</h4>
    </div>
    <swiper fxFlex="auto" [config]="config" [disabled]="disabled">
        <div class="swiper-slide">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                <img src="assets/tony.PNG">
                <h5>Tony Milad</h5>
                <h3>CEO INTERVI SP. Z O. O.</h3>
                <p>A team from GBX Soft have built for us a CRM platform that manages the most important company
                    processes. The
                    way the project was carried out as well as the quality and punctuality were at top level. I can
                    heartily
                    recommend GBX Soft.</p>
            </div>
        </div>
        <div class="swiper-slide">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                <img src="assets/tony.PNG">
                <h5>Tony Milad</h5>
                <h3>CEO INTERVI SP. Z O. O.</h3>
                <p>A team from GBX Soft have built for us a CRM platform that manages the most important company
                    processes. The
                    way the project was carried out as well as the quality and punctuality were at top level. I can
                    heartily
                    recommend GBX Soft.</p>
            </div>
        </div>
        <div class="swiper-slide">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                <img src="assets/tony.PNG">
                <h5>Tony Milad</h5>
                <h3>CEO INTERVI SP. Z O. O.</h3>
                <p>A team from GBX Soft have built for us a CRM platform that manages the most important company
                    processes. The
                    way the project was carried out as well as the quality and punctuality were at top level. I can
                    heartily
                    recommend GBX Soft.</p>
            </div>
        </div>
        <div class="swiper-slide">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                <img src="assets/tony.PNG">
                <h5>Tony Milad</h5>
                <h3>CEO INTERVI SP. Z O. O.</h3>
                <p>A team from GBX Soft have built for us a CRM platform that manages the most important company
                    processes. The
                    way the project was carried out as well as the quality and punctuality were at top level. I can
                    heartily
                    recommend GBX Soft.</p>
            </div>
        </div>
        <div class="swiper-slide">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                <img src="assets/tony.PNG">
                <h5>Tony Milad</h5>
                <h3>CEO INTERVI SP. Z O. O.</h3>
                <p>A team from GBX Soft have built for us a CRM platform that manages the most important company
                    processes. The
                    way the project was carried out as well as the quality and punctuality were at top level. I can
                    heartily
                    recommend GBX Soft.</p>
            </div>
        </div>
    </swiper>
</div>