<app-caro></app-caro>
<div>
    <section id="sone">
        <div class="lineTop"></div>
        <div class="service">
            <div class="serviceWrapper">
                <h2 class="header">Services</h2>
                <h4 class="hashtagText">#Innovative solutions for your business</h4>
            </div>
        </div>
        <div class="mainWrapper">
            <div class="serviceBox">
                <div class="staticWrapper">
                    <div>
                        <img src="assets/ProductDesign.svg" class="lazy-load">
                    </div>
                    <h3>
                        Product
                        <br>
                        Design
                    </h3>
                    <div class="square"></div>
                    <p>We design the usability, appearance and functioning of applications and software</p>
                </div>
                <ul>
                    <li>"User-Friendly system"</li>
                    <li>"Tailored to particular needs"</li>
                    <li>"Aesthetic look"</li>
                </ul>
                <a href="#">
                    <button>Read More
                        <img src="assets/ar.PNG">
                    </button>
                </a>
            </div>
            <div class="serviceBox">
                <div class="staticWrapper">
                    <div>
                        <img src="assets/MobileApp.svg" class="lazy-load">
                    </div>
                    <h3>
                        Mobile
                        <br>
                        appications
                    </h3>
                    <div class="square"></div>
                    <p>We develop state-of-the-art mobile applications which stand out by their intuitive usability and
                        reliability</p>
                </div>
                <ul>
                    <li>Functional applications for Apple devices</li>
                    <li>High-performance applications</li>
                    <li>Universal solutions</li>
                </ul>
                <a href="#">
                    <button>Read More
                        <img src="assets/ar.PNG">
                    </button>
                </a>
            </div>
            <div class="serviceBox">
                <div class="staticWrapper">
                    <div>
                        <img src="assets/webDevelopment.svg" class="lazy-load">
                    </div>
                    <h3>
                        Web
                        <br>
                        applications
                    </h3>
                    <div class="square"></div>
                    <p>We design and implement all types of web services, which will meet your expectations</p>
                </div>
                <ul>
                    <li>Individual solutions suited to your goals</li>
                    <li>Diverse tools for creating source codes</li>
                </ul>
                <a href="#">
                    <button>Read More
                        <img src="assets/ar.PNG">
                    </button>
                </a>
            </div>
            <div class="serviceBox">
                <div class="staticWrapper">
                    <div>
                        <img src="assets/Blockchain.svg" class="lazy-load">
                    </div>
                    <h3>
                        Big
                        <br>
                        Data
                    </h3>
                    <div class="square"></div>
                    <p>We gather, analyse and interpret data from various sources in order to obtain a complete
                        information set from various sources to get a full set of information</p>
                </div>
                <ul>
                    <li>Better matching to the needs</li>
                    <li>Lower costs of software development</li>
                </ul>
                <a href="#">
                    <button>Read More
                        <img src="assets/ar.PNG">
                    </button>
                </a>
            </div>
        </div>
    </section>
    <section id="stwo">
        <div class="header">
            <h2>Our Customers</h2>
            <h3 class="hashtagText">#We think just like our customers</h3>
        </div>
        <div class="ourCustomersImagesContainer">
            <img src="assets/ci1.PNG" alt="" class="lazy-load">
            <img src="assets/ci2.PNG" alt="" class="lazy-load">
            <img src="assets/ci3.PNG" alt="" class="lazy-load">
            <img src="assets/ci4.PNG" alt="" class="lazy-load">
            <img src="assets/ci5.PNG" alt="" class="lazy-load">
        </div>
    </section>
    <section id="sthree">
        <div class="row">
            <div class="col-md-6">
                <div class="serviceContainerSecondary">
                    <div class="lottieProduct">
                        <div class="lottieProductSvg">
                            <img src="assets/product.svg" class="lazy-load2">
                            <h4>Product Analyze</h4>
                        </div>
                    </div>
                    <div class="lottieDevelopment">
                        <div class="lottieDevelopmentSvg">
                            <h4>Development</h4>
                            <img src="assets/uxUi.svg" class="lazy-load2">
                        </div>
                    </div>
                    <div class="lottieDeployment">
                        <div class="lottieDeploymentSvg">
                            <h4>Deployment</h4>
                            <img src="assets/rocket.svg" class="lazy-load2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="serviceContainer">
                    <div class="container">
                        <h2 class="header">How we work?</h2>
                        <h4 class="hashtagText">#You always get what you need</h4>
                        <p>No matter the project, we always use the same proven method: listen, design, consult, check
                            and
                            implement.Every product is a challenge, as it must meet the requirements of our customers
                            and
                            end
                            users.This is why we adapt our solutions to the industry requirements and guarantee that you
                            will
                            get exactly what you need.</p>
                    </div>
                    <div class="lottieUx">
                        <div class="lottieUxSvg">
                            <img src="assets/development.svg" class="lazy-load2">
                            <h4>
                                UX/UI Design
                                <br>
                                & Workshops
                            </h4>
                        </div>
                    </div>
                    <div class="lottieTesting">
                        <div class="lottieTestingSvg">
                            <img src="assets/testing.svg" class="lazy-load2">
                            <h4>Testing and reporting</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>